body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* Color de fondo para distinguir */
}

  #page-content {
    width: 100%; 
    height: 100%; 
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

  #page-contentt {
    margin-top: 5%;
    width: 100%; 
    height: calc(100% - 20px); 
    margin-bottom: 100px;
   /* overflow-x:hidden; 
    overflow-y:scroll; */
  }
  /*
  *,
  html {   box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  }
  * {
    box-sizing: border-box;
    /*scrollbar-color: transparent transparent; /* thumb and track color 
    scrollbar-width: 0px;
    
  }
 /* 
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  /*footer */
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 2; /* Asegura que el footer esté en el frente */
  }
  
  /* Ajusta el contenido dentro del footer si es necesario */
  .footer-content {
    
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
  }
  
  
  @media (max-width: 768px) {
   
    .pdfview {
      height: 70vh; /* Adjust the height for smaller screens */
    }
   

   
  }
  
  
          /* Estilo para el contenedor de la imagen */
  .menu-header {
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Espacio alrededor de la imagen */
    background-color: #2f2f2f; /* Color de fondo para el encabezado del menú */
  }
  
  /* Estilo para la imagen del logotipo */
  .menu-logo {
    width: 200px; /* Ancho de la imagen */
    height: 200px; /* Altura de la imagen */
    border-radius: 50%; /* Hace que la imagen tenga forma circular */
    background-color: rgba(255, 255, 255, 0); /* Color de fondo de la imagen */
    padding: 10px; /* Espacio adicional alrededor de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block; /* Hace que la imagen sea un bloque para centrarla verticalmente */
  }
  
  
  /*drawer menu*/
  #overlay {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 0.3s linear;
  }
  
  #overlay.active {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #burger {
    position: fixed;
    top: 20px; /* Cambia el valor de top a 20px para mantener la distancia desde la parte superior */
    left: 20px; /* Usa "left" en lugar de "right" para colocarlo en la parte izquierda */
    background: #17141d;
    padding: 1rem;
    z-index: 1000;
    cursor: pointer;
    transition: 0.3s linear;
    box-shadow: 2px 2px 5px #17141d;
  }
  
  
  #burger:hover {
    background-color: goldenrod;
  }
  
  .line{
    width: 22px;
    margin-bottom: 5px;
    height: 2px;
    background-color: white;
  }
  
  .line:last-child {
    margin-bottom: 0;
  }
  
  #nav {
    height: calc(100vh - 50px); /* Altura ajustada menos el alto del footer */
    width: 300px;
    display: flex;
    flex-direction: column; /* Alinea los hijos verticalmente */
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #17141d;
    color: white;
    position: fixed;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
    margin-left: 0;
    overflow-y: auto; /* Habilita el scroll vertical */
    padding-bottom: 50px; /* Espacio para el footer */
  }
  
  
  #nav.active {
    transform: translateX(0);
  }
  
  
  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  /*li*/
  #uno {
    font-size: 19px;
    display:block; 
    padding:10px; 
    color:#ffffff; 
    text-decoration:dotted; 
  }
  /*li*/
  .text {
    width: 100%;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 3px;
  }
  
  #a_drawer {
    color: #fafafa;
    transition: 0.3s linear;
  }
  
  
  
  #a_drawer:hover {
    color: goldenrod;
    outline: none;
  }
  
  @media screen and (max-width: 600px) {
    #burger {
      width : 55px; /* Adjust the width for better visibility on small screens */
      top: 10px; /* Adjust the top position */
  }
  
  #page-contentt {
      height: 70vh; /* Adjust the height for better visibility on small screens */
  }
  }
  
  